:root {
    --basic-black: #000000;
    --very-extra-dark:#231F20; 
    --extra-dark:#333333;
    --basic-white: #FFFFFF; 
    --basic-gray: #A9A9A9; 
    --dark-gray: #666666; 
    --hover-gray: #EBEBEB;
    --light-gray:#F2F2F2;
    --active-gray:#BDBBBC;
    --basic-blue:#23A9E1;
    --active-blue:#5496BD; 
    --hover-blue:#669EC0; 
    --blue-gray:#81B3D2; 
    --light-blue-gray:#81B3D3; 
    --dark-brown:#491213; 
    --active-brown: #503E33; 
    --neutral-brown:#766458; 
    --light-brown:#766357; 
    --hover-brown: #604E43; 
    --coral-pink:#DC6243;
    --peachy:#F49774;
    --neutral-pink:#F4B1A4; 
}

/* Global */

.page-body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    min-height: 100%;
    font-family:'PT Sans', Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase; 
    text-align: center;
    background-color: var(--basic-white); 
}

.promo {
    background-image: url(../img/background-photo.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 73,35px;
    padding-bottom: 80,76px;
}

img {
    max-width: 100%;
    height: auto;
} 

a {
    text-decoration: none;
}

ul {
    list-style: none;
    color: var(--basic-black);
}

/* Grid */ 

.page {
    height: 100%;
  }

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  /* Main header */
  
.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
  }
.site-navigation {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

.site-navigation li {
    width: 25%;
}

.main-logo,
.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.site-navigation a {
    color:var(--basic-black);
}
.site-navigation a:hover {
    color:var(--blue-gray);
}
.site-navigation a:active {
    color:var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.site-navigation .current-page a {
    color: #766357;
}

.hotel-name a {
    color:var(--basic-black);
}

.hotel-name a:hover  {
    color:var(--blue-gray);
}

.hotel-name a:active {
    color:var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
} 
.search-hotels {
    width: 568px;
    height: 86px;
}
.search-hotels p {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.search-hotels,
.booking {
    background-color:var(--light-brown);
    color: var(--basic-white);
}
.search-hotels:hover,
.booking:hover  {
    background-color:var(--hover-brown);
    color: var(--basic-white);
}
.search-hotels:active,
.booking:active  {
    background-color:var(--active-brown);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.trip-details,
.visitors-number {
    background-color: var(--light-gray);
    color: var(--basic-black);
}
.trip-details:hover,
.visitors-number:hover {
    background-color: var(--hover-gray);
    color: var(--basic-black);
}
.trip-details:active,
.visitors-number:active {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border: 2px solid #E5E5E5;
}
.form-icons {
    fill: var(--basic-gray);
}
.form-icons:hover path,
.form-icons:hover rect {
    fill: var(--basic-black);
}

.form-icons:active path,
.form-icons:active rect {
    fill:var(--blue-gray);
}
.icons-list {
    fill: var(--blue-gray);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.social-icons:hover rect {
    fill: var(--hover-blue);
}
.sosial-icons:active path,
.sosial-icons:active rect {
    fill: var(--active-blue);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.find,
.more-details {
    background-color: var(--blue-gray);
    color: var(--basic-white);
}
.find:hover,
.more-details:hover {
    background-color: var(--hover-blue);
    color: var(--basic-white);
}
.find:active
.more-details:active {
    background-color: var(--active-blue);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}

.site-navigation a:focus,
.search-hotels:focus,
.trip-details:focus,
.visitors-number:focus,
.form-icons:focus path,
.find:focus,
.social-icons:focus path,  
.main-header-logo:focus,
.hotel-name a:focus,
.more-details:focus,
.booking:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.main-header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.list-heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--extra-dark);
    background-color: var(--basic-white);
}
.form-question {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.form-caption {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
} 

/* Main footer */

.main-footer {
   
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--basic-black); 
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  
.footer-contacts {
    margin-top: 23px;
    width: 400px; 
}
.footer-contacts .hashtag {
    margin-bottom: 9px;
}

.footer-contacts p {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer-social {
    width: 400px;
    justify-self: center;
    display: flex;
}

.footer-social ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

}

.social-icons svg {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.footer-copyright {
    max-width: 400px;
    margin: 0;
    justify-self: end;
    text-align: center;
    display: flex;
}

.footer-copyright .button {
    width: 115px;
    padding-left: 8px;
    padding-top: 38px;
    padding-bottom: 41px;
    padding-right: 138px;
} 

.footer-copyright span {
    width: 74px;
    margin-bottom: 45px;
    margin-top: 49px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright .button  {
    background-color: var(--basic-white);
    fill: var(--very-extra-dark);
}
.footer-copyright .button:hover path {
    background-color: var(--basic-white);
    fill: var(--blue-gray);
}
.footer-copyright .button:active path {
    background-color: var(--basic-white);
    fill: var(--active-gray);
}
.footer-copyright .button:focus path {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.hotel-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--extra-dark);
    background-color: var(--basic-white);
} 

.hotel-type p {
    margin-left: 28px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  } 

.hotel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0px;
}
.div-images {
    width: 135px;
    margin-left: 73px;
}

.amara,
.motel,
.apartment {
    width: 135px;
    height: 90px;
}
.hotel-description {
    display: flex;
    flex-wrap: wrap;
    margin-left: 29px;
}
.hotel-description p {
    margin-top: 7px;
    margin-bottom: 15,5px;
}

.hotel-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-left: 9px;
}
.div-info {
    width: 798px;
}
.hotel-name {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    margin-left: 29px;
    margin-bottom: 0;
    margin-top: 0;
}

.buttons {
    display: flex;
} 
.more-details {
    width: 110px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    margin-right: 6px;
    margin-left: 29px;
}
.booking {
    width: 142px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
}
.div-rating {

    width: 110px;
    margin-left: auto;
    margin-right: 73px;
}

.hotel-rating {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--dark-gray);
    background-color: var(--light-gray);
    width: 110px;
    height: 27px;
    text-align: center;
    margin-top: 44px;
} 

/* Modal */

.arrival-field,
.departure-field,
.adults-field,
.kids-field {
    display: flex;
}
.trip-details {
    width: 346px;
    height: 38px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding-left: 13px;
}

.visitors-number {
    width: 114px;
    height: 38px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.adults-kids-container {
    display: flex;
    
}
.modal {
    position: absolute;
    width: 568px;
    height: 395px;
    top: 2169px;
    bottom: auto;
    right: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: #FFFFFF;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background-position: 0 0;
    background-repeat: repeat;
}
.modal input {
    border: none;
}
.modal label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
input[type="submit"] {
    width: 458px;
    height: 58px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.arrival-field label {
    margin-left: 55px;
    margin-top: 61px;
}
.departure-field label {
    margin-left: 55px;
    margin-top: 41px;
}
.adults-field label {
    margin-left: 55px;
    margin-top: 41px;
}
.kids-field label {
    margin-top: 41px;
    margin-left: 53px;
}
.find {
    margin-top: 54px;
}
.search-hotels {
    position: relative;
    bottom: 183px;
    left: 315px;
}
.kids-field .union {
    position: absolute;
    left: 77%;
    bottom: 147px;
}
.kids-field .minus {
    position: absolute;
    left: 63%;
    bottom: 151px;
}

.adults-field .amount {
    position: absolute;
    left: 40%;
    bottom: 147px;
}
.adults-field .less {
    position: absolute;
    left: 25%;
    bottom: 151px;
}
.arrival-field .calendar {
    position: absolute;
    left: 82%;
}
.departure-field .calendar {
    position: absolute;
    left: 83%;
}

/*Sorting*/

.sorting {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sorting li {
    position: relative;
    margin-right: 32px;
    margin-bottom: 37px;
    margin-top: 27px;
    font-size: 12px;
    line-height: 18px;

}
.sorting .hotels-founded {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 31px;
    margin-top: 29px;
    margin-left: 73px;
    margin-right: 46px;
}
.sorting .sort-word {
    margin-right: 40px;
}

.sorting a{
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
}
.sorting a:hover {
    color: #81B3D2;
}
.sorting a:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}
.sorting a:active {
    color: #000000;
}
.sorting-current a {
    color: #81B3D2;
}
.up-down-icon {
    color: rgba(202, 202, 202, 1);
    position: relative;
    left: 40%;
}
.up-down-icon :hover {
    color: var(--basic-black);
}
.up-down-icon:active {
    color: var(--blue-gray); 
}
.up-down-icon:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}
.icon-down-current {
    color: var(--blue-gray);
}

.line {
height: 1px;
background-color:  #E5E5E5;
}

/* Filters */

.filters {
    background-image: url(../img/background-hotels.png); 
    background-repeat: no-repeat;
    background-size: cover;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
    border: none;
}

.infrastructure {
    width: 220px;
}
.housing-type {
    width: 200px;
}

.filter fieldset:first-child {
    margin-bottom: 25px;
}

.filter legend {
    margin-bottom: 24px;
    margin-left: 73px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
} 

.filter ul {
    padding: 0;
    margin: 0;
    line-height: 21px;
}

.filter-option {
    margin-bottom: 25px;
    margin-left: 72px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }
.price-controls label {
    color: #FFFFFF;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 23px;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
  }

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 10px;
    width: 23px;
    height: 18px;
    background-image: url(../img/checked.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.filter-button {
    padding-right: 36px;
    padding-left: 36px;
    margin-top: 33px;
    margin-bottom: 37px;
    width: 137px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.filter-button:hover {
    background: #FFFFFF;
    color: #000000;
}
.filter-button:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.filter-item {

    width: 327px;
    margin: 0;
    padding: 0;
    border: none;
  }

.range-filter {
    width: 317px;
    margin-top: 33px;
  }

.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10,5px;
  }

.range-controls {
    margin-top: 20px;
    position: relative;
  }

.range-controls .scale {
    height: 2px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
.range-controls .bar {
    width: 248px;
    height: 2px;
    background: #FFFFFF;
  }
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }

.range-controls .toggle-min {
    left: 50%;
  }
  
.range-controls .toggle-max {
    left: 10%;
  }

.price-controls label {
    font-size: 16px;
  }

.price-controls input {
    font-size: inherit;
    width: 50%;
    padding-top: 7,5px;
    padding-bottom: 7,5px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10,5px;
  } 

/*reasons to visit Sedona*/

.five-reasons {
   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
}
.sedona-city {
    display: grid;
    grid-template-columns: 400px 800px; 
}
.advantages {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}
.devil-bridge {
    display: grid;
    grid-template-columns: 800px 400px;
}
.good-reasons {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    background: #EEEEEE;
}

.sedona-city-container,
.bridge-container {
    background-color: #81B3D2;
}
.five-reasons h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 25px;
}
.five-reasons p
.five-reasons span {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
.five-reasons span {
    margin-bottom: 23px;
}

.sedona-city-container,
.bridge-container {
    color: #FFFFFF;
}

.good-reasons h2,
.sedona-city h2 {
    margin-top: 47px;
    margin-bottom: 25px;
}
.devil-bridge-container h2 {
    margin-top: 50px;
}
.advantages svg {
    margin-top: 60px;
}
.five-reasons {
    margin-top: 51px;
}
