:root {
    --basic-black: #000000;
    --very-extra-dark:#231F20; 
    --extra-dark:#333333;
    --basic-white: #FFFFFF; 
    --basic-gray: #A9A9A9; 
    --dark-gray: #666666; 
    --hover-gray: #EBEBEB;
    --light-gray:#F2F2F2;
    --active-gray:#BDBBBC;
    --basic-blue:#23A9E1;
    --active-blue:#5496BD; 
    --hover-blue:#669EC0; 
    --blue-gray:#81B3D2; 
    --light-blue-gray:#81B3D3; 
    --dark-brown:#491213; 
    --active-brown: #503E33; 
    --neutral-brown:#766458; 
    --light-brown:#766357; 
    --hover-brown: #604E43; 
    --coral-pink:#DC6243;
    --peachy:#F49774;
    --neutral-pink:#F4B1A4; 
}

/* Global */

.page-body {
    margin: 0 auto;
    padding: 0;
    min-width: 1240px;
    min-height: 100%;
    font-family:'PT Sans', Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase; 
    text-align: center;
    background-color: var(--basic-white); 
    background-image: url(img\background-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;  
}

img {
    max-width: 100%;
    height: auto;
} 

a {
    text-decoration: none;
}

ul {
    list-style: none;
    color: var(--basic-black);
}

/* Grid */ 

.page {
    height: 100%;
  }

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  /* Main header */
  
.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
  }
.site-navigation {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
.site-navigation li {
    width: 25%;
}
.main-logo,
.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.site-navigation a {
    color:var(--basic-black);
}
.site-navigation a:hover {
    color:var(--blue-gray);
}
.site-navigation a:active {
    color:var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
}




.hotel-name a {
    color:var(--basic-black);
}

.hotel-name a:hover  {
    color:var(--blue-gray);
}

.hotel-name a:active {
    color:var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
} 
.search-hotels {
    width: 568px;
    height: 86px;
}
.search-hotels p {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.search-hotels,
.booking {
    background-color:var(--light-brown);
    color: var(--basic-white);
}
.search-hotels:hover,
.booking:hover  {
    background-color:var(--hover-brown);
    color: var(--basic-white);
}
.search-hotels:active,
.booking:active  {
    background-color:var(--active-brown);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.trip-details,
.visitors-number {
    background-color: var(--light-gray);
    color: var(--basic-black);
}
.trip-details:hover,
.visitors-number:hover {
    background-color: var(--hover-gray);
    color: var(--basic-black);
}
.trip-details:active,
.visitors-number:active {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border: 2px solid #E5E5E5;
}
.form-icons {
    fill: var(--basic-gray);
}
.form-icons:hover path,
.form-icons:hover rect {
    fill: var(--basic-black);
}

.form-icons:active path,
.form-icons:active rect {
    fill:var(--blue-gray);
}
.icons-list {
    fill: var(--blue-gray);
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.social-icons:hover rect {
    fill: var(--hover-blue);
}
.sosial-icons:active path,
.sosial-icons:active rect {
    fill: var(--active-blue);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.find,
.more-details {
    background-color: var(--blue-gray);
    color: var(--basic-white);
}
.find:hover,
.more-details:hover {
    background-color: var(--hover-blue);
    color: var(--basic-white);
}
.find:active
.more-details:active {
    background-color: var(--active-blue);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}

.site-navigation a:focus,
.search-hotels:focus,
.trip-details:focus,
.visitors-number:focus,
.form-icons:focus path,
.find:focus,
.social-icons:focus path,  
.main-header-logo:focus,
.hotel-name a:focus,
.more-details:focus,
.booking:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.main-header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.list-heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--extra-dark);
    background-color: var(--basic-white);
}
.form-question {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.form-caption {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
} 

/* Main footer */

.main-footer {
    padding: 23px 0;
    margin-top: 78px;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--basic-black); 
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  
.footer-contacts {
    margin: 0;
    width: 400px; 
}

.footer-contacts p {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.footer-social {
    width: 400px;
    justify-self: center;
    display: flex;
}

.footer-social ul {
    width: 156px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
}

.social-icons {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-copyright {
    max-width: 400px;
    margin: 0;
    justify-self: end;
    text-align: center;
    display: flex;
}

.footer-copyright .button {
    width: 115px;
    padding-left: 8px;
    padding-top: 38px;
    padding-bottom: 41px;
    padding-right: 138px;
} 

.footer-copyright span {
    width: 74px;
    margin-bottom: 45px;
    margin-top: 49px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
}

.footer-copyright .button  {
    background-color: var(--basic-white);
    fill: var(--very-extra-dark);
}
.footer-copyright .button:hover path {
    background-color: var(--basic-white);
    fill: var(--blue-gray);
}
.footer-copyright .button:active path {
    background-color: var(--basic-white);
    fill: var(--active-gray);
}
.footer-copyright .button:focus path {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.hotel-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--extra-dark);
    background-color: var(--basic-white);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  } 

.hotels {
    display: flex;
    flex-wrap: wrap;
}
.div-images {
    display: flex;
    flex-direction: column;
    width: 135px;
}
.amara,
.motel,
.apartment {
    margin-bottom: 61px;
    width: 135px;
    height: 90px;
    left: 113px;
    top: 390px;
}
.hotel-description {
    display: flex;
    flex-wrap: wrap;
    margin-left: 29px;
}
.hotel-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.div-info {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    width: 798px;
}
.hotel-name {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    margin-left: 29px;
}
.buttons {
    display: flex;
} 
.more-details {
    width: 110px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    margin-right: 6px;
    margin-left: 29px;
}
.booking {
    width: 142px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
}
.div-rating {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 110px;
    margin-left: auto;
}
.hotel-rating {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--dark-gray);
    background-color: var(--light-gray);
    width: 110px;
    height: 27px;
    text-align: center;
} 
.arrival-field,
.departure-field,
.adults-field,
.kids-field {
    display: flex;
}
.trip-details input {
    width: 346px;
    height: 38px;
}
.visitors-number input {
    width: 114px;
    height: 38px;
}

.adults-kids-container {
    display: flex;
    
}
.modal {
    position: absolute;
    width: 568px;
    padding: 55px 55px;
    top: 2169px;
    bottom: auto;
    right: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: #FFFFFF;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    background-position: 0 0;
    background-repeat: repeat;
}
.modal label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}
input[type="submit"] {
    width: 458px;
    height: 58px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

/* Filters */
.filters {
    width: 390px;
  }
  
.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 37px;
    border: none;
  }

.filter fieldset:first-child {
    margin-bottom: 25px;
}

.filter legend {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
} 

.filter ul {
    padding: 0;
    margin: 0;
    line-height: 21px;
}

.filter-option {
    margin-bottom: 25px;
    margin-left: 72px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

.filter-button {
    padding-right: 36px;
    padding-left: 36px;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }

.range-filter {
    width: 317x;
    margin-top: 33px;
  }
.filter-item legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #FFFFFF;
  }
.range-controls {
    margin-top: 20px;
    position: relative;
  }
.range-controls .scale {
    height: 2px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
.range-controls .bar {
    width: 248px;
    height: 2px;
    background: #FFFFFF;
  }
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  }
.range-controls .toggle-min {
    left: 1px;
  }
  
.range-controls .toggle-max {
    left: 243px;
  }
.price-controls label {
    font-size: 16px;
  }
.price-controls input {
    font-size: inherit;
    width: 50%;
    padding-top: 7,5px;
    padding-bottom: 7,5px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}
.price-controls {
    display: flex;
    justify-content: space-between;
  }