:root {
    --basic-black: #000000;
    --very-extra-dark:#231F20; 
    --extra-dark:#333333;
    --basic-white: #FFFFFF; 
    --basic-gray: #A9A9A9; 
    --dark-gray: #666666; 
    --hover-gray: #EBEBEB;
    --light-gray:#F2F2F2;
    --active-gray:#BDBBBC;
    --basic-blue:#23A9E1;
    --active-blue:#5496BD; 
    --hover-blue:#669EC0; 
    --blue-gray:#81B3D2; 
    --light-blue-gray:#81B3D3; 
    --dark-brown:#491213; 
    --active-brown: #503E33; 
    --neutral-brown:#766458; 
    --light-brown:#766357; 
    --hover-brown: #604E43; 
    --coral-pink:#DC6243;
    --peachy:#F49774;
    --neutral-pink:#F4B1A4; 
}
img {
    max-width: 100%;
    height: auto;
  } 
a {
    text-decoration: none;
  }

ul {
    list-style: none;
    color: var(--basic-black);
}
.page-body {
    margin: 0;
    padding: 0;
    min-width: 1240px;
    min-height: 100%;
    font-family:'PT Sans', Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase; 
    text-align: center;
    background-color: var(--basic-white); 
    background-image: url(img\background-photo.jpg);  
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;  
}
.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
  }
.site-navigation {
    width: 100%;
    margin-bottom: 62,35px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
    list-style: none;
  }
.main-logo {
    width: 138px;
    height: 70px;
    order: 3;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
}
.page {
    height: 100%;
  }
.main-header {
    margin-bottom: 62,35px;   
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}

.site-navigation a,
.hotel-name {
    color:var(--basic-black);
}
.site-navigation a:hover,
.hotel-name:hover  {
    color:var(--blue-gray);
}
.site-navigation a:active,
.hotel-name:active {
    color:var(--basic-black);
    mix-blend-mode: normal;
    opacity: 0.3;
} 
.search-hotels,
.booking {
    background-color:var(--light-brown);
    color: var(--basic-white);
}
.search-hotels:hover,
.booking:hover  {
    background-color:var(--hover-brown);
    color: var(--basic-white);
}
.search-hotels:active,
.booking:active  {
    background-color:var(--active-brown);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.trip-details {
    background-color: var(--light-gray);
    color: var(--basic-black);
}
.trip-details:hover {
    background-color: var(--hover-gray);
    color: var(--basic-black);
}
.trip-details:active {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border: 2px solid #E5E5E5;
}
.form-icons {
    fill: var(--basic-gray);
}
.form-icons:hover path {
    fill: var(--basic-black);
}
.form-icons:active path {
    fill:var(--blue-gray);
}
.social-icons {
    fill: var(--blue-gray);
}
.social-icons:hover path {
    fill: var(--hover-blue);
}
.sosial-icons:active path {
    fill: var(--active-blue);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.find,
.more-details {
    background-color: var(--blue-gray);
    color: var(--basic-white);
}
.find:hover,
.more-details:hover {
    background-color: var(--hover-blue);
    color: var(--basic-white);
}
.find:active
.more-details:active {
    background-color: var(--active-blue);
    color: var(--basic-white);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.htmlacademy-logo  {
    background-color: var(--basic-white);
    fill: var(--very-extra-dark);
}
.htmlacademy-logo:hover path {
    background-color: var(--basic-white);
    fill: var(--blue-gray);
}
.htmlacademy-logo:active path {
    background-color: var(--basic-white);
    fill: var(--active-gray);
}
.site-navigation a:focus,
.search-hotels:focus,
.trip-details:focus,
.form-icons:focus path,
.find:focus,
.social-icons:focus path, 
.htmlacademy-logo:focus path, 
.main-header-logo:focus,
.hotel-name a:focus,
.more-details:focus,
.booking:focus {
    outline-color: var(--basic-blue);
    outline-style: solid;
    outline-width: 1px;
}

.main-header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.list-heading {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--extra-dark);
    background-color: var(--basic-white);
}
.form-question {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.form-caption {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
} 
.main-footer {
    
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--basic-black);
}
.copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
} 
.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.type-price {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--extra-dark);
    background-color: var(--basic-white);
}
.hotel-rating {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px; 
    color: var(--dark-gray);
    background-color: var(--light-gray);
} 
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  } 

